.title-center{
    text-align:center;
}
.signin-label {
    font-size: 15px;
    margin:20px;
}
.signin-section {
    margin:100px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.signin-input {
    display:block;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    border:none;
    width:300px;
    box-sizing: border-box;
}
.signin-btn {
    font-size: 18px;
    width:300px;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid grey;
    color: white;
    font-weight: bold;
    background-color: black;
    transition: all 0.4s;
    cursor: pointer;
}

.signin-btn:hover {
    border: 1px solid lightgreen;
    background-color:rgb(40, 94, 91);
}
