.section-container {
    flex: 1 0 auto;
}

.info-container {
    display:flex;
    flex-direction: column;
    align-items:center;
}
.notification-msg {
    margin: 20px;
    color: red;
    background-color: #FFD2D2;
    padding: 5px;
    width: max-content;
    border-radius: 5px;
}

.signin-label {
    font-size: 18px;
    margin:20px;
}
.signin-section {
    margin:50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.signin-input {
    font-size:15px;
    color:white;
    display:block;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    border:none;
    width:300px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.753);
    box-sizing:border-box;
}
.forgot_password-section {
    display:flex;
    justify-content: center;
    align-items: center;
}
.forgot-text {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.forgot-text:hover {
    color: lightgreen;

}

.hidden {
    display: none;
}

