.title-center{
    text-align:center;
}
.signup-label {
    font-size: 20px;
    margin:20px;
}
.signup-section {
    margin:100px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.signup-input {
    font-size: 15px;
    background: rgba(0, 0, 0, 0.753);
    display:block;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    border:none;
    width:300px;
    box-sizing: border-box;
    color:white;
}
.signup-btn {
    font-size: 20px;
    width:300px;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    color: white;
    font-weight: bold;
    background-color: black;
    transition: all 0.4s;
    cursor: pointer;
}

.signup-btn:hover {
    border: 1px solid lightgreen;
    background-color:rgb(40, 94, 91);
}
