.main-section {
    position: relative;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    width:100%;
}

.middle-section {
    position:relative;
    width:95vw;
    display:flex;
    align-items: center;
}


.welcome-section
.whoami,
.static-text,
.projects-initializer {
    font-size: 50px;
    text-shadow: 3px 2.5px 2px purple;
    padding: 20px;
    margin-bottom: 20px;
}
@keyframes flying {
    0% {
        left:700px;
        top: 300px;
    }
    25% {
        top: 100px;
        left: 600px;

    }
    50% {
        top: 50px;
        left: 500x;
        
    }
    75% {
        top: 200px;
        left: 350px;
        
    }
    100% {
        top: 300px;
        left: 700px;
        
    }
}

.boo {
    position:absolute;
    top: 50px;
    left: 0px;
    animation: flying 8s infinite;

}
@keyframes typing {

    100% {
        left: 0;
        margin: 0 -35px 0 210px;
    }
}
.welcome-section
.whoami {
    margin-left: -40px;
    font-weight: bold;
}

.welcome-section
.welcome-wrapper {
    display:flex;
    
}

.welcome-section
.whoami li {
    list-style: none;
    position: relative;
    top: 0;
}

.welcome-section
.whoami li span {
    position: relative;
}


.welcome-section
.whoami li span::after {
    content: "";
    position: absolute;
    background-color:black;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    animation: typing 1.5s steps(10) infinite;
    animation-delay: 1s;
}

.welcome-section
.static-text {
    color: lightgreen;
    font-size: 60px;
    display:inline;
    font-weight: bold;
    
}

.welcome-section
.welcome-text {
    font-size: 35px;
    padding: 20px;
    border-radius: 3px;
    width:70%;
}
.posts-section {
    margin-right:30px;
    border: 2px solid white;
    border-radius: 5px;
    width:45vw;
    padding: 10px;
    background:linear-gradient(rgb(34, 24, 51), rgb(39, 66, 65));
    
}

.posts-section 
.posts-card {
    display:block;
    width: 100%;
    height: max-content;
    border-bottom: 2px solid white;
}

.posts-section 
.posts-card 
.posts-card-title,
.posts-section 
.posts-card 
.posts-card-description {
    padding: 5px;
}

.projects-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
    
    
}

.projects-section {
    position:relative;
    margin-top: 20px;
    display:flex;
    margin-left:-400px;
}

.projects-section
.projects-card {
    cursor: pointer;
}

.projects-section
.projects-card 
.projects-img {
    position:relative;
    display:flex;
    width:700px;
    transition: all 0.4s;
    transform: scale(0.95);
}

.projects-section
.projects-card 
.projects-img:hover {
   transform: scale(1);
}
.arrow-container-right,
.arrow-container-left {
    border-radius: 10px;
    position:absolute;
    
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transform: scale(0.9);
    transition: all 0.3s;
    width: 80px;
    height: 180px;
    cursor: pointer;
}

.arrow-container-left
.arrow-left,
.arrow-container-right
.arrow-right {
    
    background-color: rgb(0,0,0,0);
    color:white;
    border:none;
    font-size: 60px;
    font-weight: bold;
    
}

.arrow-container-left {
    left:0;
}

.arrow-container-right{
    right:50px;
}

.arrow-container-right:hover,
.arrow-container-left:hover{
    transform: scale(1);
    
    opacity: 1;
}

