.main-section {
    position: relative;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    width:100%;
    margin-top: 100px;
}

.middle-section {
    position:relative;
    width:95vw;
    display:flex;
    align-items: center;
}


.welcome-section
.whoami,
.static-text,
.projects-initializer {
    font-size: 50px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing:content-box;
}

@keyframes typing {

    100% {
        left:100%;
        margin: 0 -30px 0 30px;
    }
}

@keyframes slide {
    100%{
        top: -420px;
    }
}

.whoami {

    line-height:105px;
    margin-left: -30px;
    font-weight: bold;
    position: relative;
    overflow:hidden;
    height:60px;
    top:-30px;
}

.welcome-section
.welcome-wrapper {
    display:flex;
}

.welcome-section
.whoami li {
    
    list-style: none;
    position: relative;
    top:0;
    animation: slide 6s steps(4) infinite;
    animation-delay: 2s;
}

.welcome-section
.whoami li span {
    position: relative;
}


.welcome-section
.whoami li span::after {
    content: "";
    position: absolute;
    background-color:rgb(27, 139, 167);
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    border-left: 2px solid white;
    animation: typing 1.5s steps(10) infinite;
    animation-delay: 2s;
}

.welcome-section
.static-text {
    color: lightgreen;
    font-size: 60px;
    display:inline;
    font-weight: bold;
    line-height: 30px;
}

.welcome-section
.welcome-text {
    font-size: 35px;
    padding: 20px;
    border-radius: 3px;
    width:70%;
}
.posts-section {
    margin-right:30px;
    border: 3px solid white;
    border-radius: 5px;
    width:50%;
    padding: 10px;
    background:rgba(0, 0, 0, 0.5); 
}

.posts-section 
.posts-card {
    display:block;
    width: 100%;
    height: max-content;
    border-bottom: 3px solid white;
}

.posts-section 
.posts-card 
.posts-card-title,
.posts-section 
.posts-card 
.posts-card-description {
    padding: 5px;
}

.projects-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:relative; 
}

.projects-section {
    position:relative;
    margin-top: 20px;
    display:flex;
    transition: all 0.4s;
}

.projects-section
.projects-card {
    cursor: pointer;
}

.projects-section
.projects-card 
.projects-img {
    position:relative;
    display:flex;
    width:700px;
    transition: all 0.4s;
    transform: scale(0.95);
    border-radius: 5px;
    box-shadow: 1px 0.5px 3px white;
}

.projects-section
.projects-card 
.projects-img:hover {
   transform: scale(1);
}
.arrow-container-right,
.arrow-container-left {
    border-radius: 10px;
    position:absolute;
    opacity: 0.7; 
    background-color: black;
    z-index: 1;
    display:flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);
    transition: all 0.3s;
    width: 80px;
    height: 180px;
    cursor: pointer;
}

.arrow-container-left
.arrow-left,
.arrow-container-right
.arrow-right {
    cursor: pointer; 
    background-color: rgb(0,0,0,0);
    color:white;
    border:none;
    font-size: 60px;
    font-weight: bold;
    width: 80px;
    height: 180px;
 
}

.arrow-container-left {
    left:0;
}

.arrow-container-right{
    right:50px;
}

.arrow-container-right:hover,
.arrow-container-left:hover{
    transform: scale(1);
    
    opacity: 0.9;
}

