.header {
    font-size: 20px;
    display: flex;
    background: #1d1939;
    justify-content: space-between;
    width:100vw;
    height:fit-content;
    align-items: center;
    text-transform: none;
    transition: all 0.3s;
    padding: 5px;
}

.hidden {
    display: none;
}
.header-menu {
    transition: all 0.3s;
    border-radius: 5px;
    position: relative;
}

.header-login {
    transition: all 0.3s;
    margin-right: 20px;
    display:flex;
    position:relative;
}

.arrow {
    content: url('./chevron-down.svg');
    opacity: 0.8;
    transition: all 0.3s;
    padding: 1px;
}

.menu-nav {
    z-index: 9999;
    list-style-type: none;
    display: none;
    padding: 5px;
    width: 150px;
    height: max-content;
    text-align: left;
    position:relative;
    left:0;
    transition: all 0.4s;
    border-radius: 5px;
}

.menu-nav-login{
    list-style-type: none;
    display: none;
    padding: 5px;
    width: 150px;
    height: max-content;
    transition: all 0.4s;
    border-radius: 5px;
}

.nav-li {
    font-size: 20px;
    padding: 5px;
    transition: all 0.2s;
    border-radius: 5px;
    cursor: pointer;
}
.nav-li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.header-login
.header-button{
   font-size: 18px; 
   color: white;
   border-radius: 5px;
   padding:5px;
   margin: 0 5px;
   transition: all 0.2s;
   background-color: rgba(0,0,0,0);
   border: 1px solid grey;
}

.drop-button {
    transition: all 0.2s;
    opacity: 1;
}

.header-menu:hover .menu-nav{
    display:block;
    position: absolute;
    background-color: #1d1939;
    transition: all 0.4s;
}


.header-login:hover .menu-nav-login{
    display:flex;
    flex-direction: column;
    position: absolute;
    background-color: #1d1939;
    transition: all 0.4s;
    right: 0;
}

.menu-wrapper {
    transition: all 0.4s;
}

.button:hover {
    border: 1px solid lightgreen;
    background-color:rgb(40, 94, 91);
}
.menu-wrapper:hover
.arrow{
    content: url('./chevron-up.svg');
    opacity:1;
}

.profile-pic {
    border-radius: 50%;
    transition: all 0.2s;
    padding: 2px;
}

.profile-pic:hover {
   background-color: rgba(255,255,255, 0.2);
}

