.header {
    font-size: 20px;
    display: flex;
    position:fixed;
    z-index: 99;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    justify-content: space-between;
    width:100%;
    height:fit-content;
    align-items: center;
    text-transform: none;
    transition: all 0.3s;
    padding: 5px;
    box-shadow: 0px 0px 3px white;
}
.header:hover{
    background: rgba(0, 0, 0, 1);
}
.hidden {
    display: none;
}
.header-menu {
    transition: all 0.3s;
    border-radius: 5px;
    transition: all 0.3s;
}
.arrow {
    content: url('./chevron-down.svg');
    padding:2px;
    opacity: 0.8;
    transition: all 0.3s;
    transform:translateY(25%);
}

.menu-nav {
    list-style-type: none;
    display: none;
    padding: 5px;
    width: 200px;
    height: max-content;
    text-align: left;
    position:relative;
    left:0;
    transition: all 0.3s;
}

.menu-nav .nav-li {
    font-size: 20px;
    padding: 5px;
    transition: all 0.3s;
}
.menu-nav .nav-li:hover{
    font-weight: bold;
    background-color:rgb(40, 94, 91);
}

.header-login {
    margin-right: 20px;
}

.header-login
.header-button{
   font-size: 18px; 
   color: white;
   border-radius: 5px;
   padding:5px;
   margin: 0 5px;
   transition: all 0.3s;
   background-color: rgba(0,0,0,0);
   border: 1px solid grey;
}

.drop-button {
    font-size: 20px;
    color: white;
    transition: all 0.3s;
    background-color: rgba(0,0,0,0);
    border: none;
}

.header-menu:hover .menu-nav{
    display:block;
    position: absolute;
    background-color: black;
    transition: all 0.3s;
}
.menu-wrapper {
    transition: all 0.3s;
}

.button:hover {
    border: 1px solid lightgreen;
    background-color:rgb(40, 94, 91);
}
.menu-wrapper:hover
.arrow{
    content: url('./chevron-up.svg');
    opacity:1;
}
