.subscribe-form {
}
.subscribe-btn {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid grey;
    margin: 5px;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    transition: all 0.4s;
    cursor: pointer;
}

.subscribe-btn:hover {
    border: 1px solid lightgreen;
    background-color:rgb(40, 145, 153);

}

.subscribe-input {
    color:white;
    border:none;
    border-radius: 5px;
    width: 25vw;
    font-size: 15px;
    padding: 12px;
    background-color:rgba(0,0,0,0.7);
}
