.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: space-around;
    background:linear-gradient(rgb(47, 23, 85), rgb(40, 94, 91));
    padding: 10px 0;
    font-size: 20px;
}
.container {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer .footer-links {
    list-style: none;
    font-weight: bold;
    display:block; 
}

.footer .footer-links .footer-li:hover{
    
    text-shadow: 1px 1px 1px lightgreen;
}