.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: space-around;
    background: lightgrey;
    color: black;
    font-size: 25px;
    font-weight: bold;
    color: black;

}
.container {
    position: absolute;
    width: 100%;
    bottom: 0; 
    display:block;

}
.footer .footer-links {
    list-style: none;
    display:block; 
}

.footer .footer-links .footer-li {
}
