.footer {
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1939;
    border-top:1px solid rgba(255, 255, 255, 0.445);
}
.footer .footer-links {
    list-style: none;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.footer-li {
    transition:all 0.2s;
    padding: 5px;
    transform: scale(0.9);
    border-radius: 5px;
    box-sizing: border-box;
}

.footer-li:hover {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.2);
}
