.section-container {
    flex: 1 0 auto;
}

.current-page {
    margin-bottom: 10px;
    background-color: royalblue;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid white;
}

.posts-section {
    margin-top: 5%;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.post-container {
    position: relative;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px black;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
    width: 80%;
    height: 100px;
}

.post-header {
    display:flex;
    justify-content: space-between;
}
.post-title {
    font-size: 25px;
}

.post-date {
    font-size: 15px;
    font-weight: bold;
}

.post-name {
    color: royalblue;
    font-size: 30px;
}
