.section-container {
    flex: 1 0 auto;
}

.card-section {
    display:block;
    margin-top: 50px;
    color: white;
}
.card-title {
    font-size: 25px;
    padding: 5px;
}
.card-container {
    margin: auto;
    margin-top: 10px;
    height: max-content;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
}
.card-container p {
    padding: 10px;
}