* {
    margin: 0;
    padding: 0;
}
body {

    overflow-x: hidden;
}
.App {
    background:linear-gradient(rgb(47, 23, 85) 60%, lightseagreen);
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}


