* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./background-code.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.App {
    overflow-x: hidden;
    background:linear-gradient(rgba(67, 58, 143, 0.8), rgb(0, 0, 0));
    color: white;
    display:flex;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
}
